body.tundra
{
  background-image: url('/static/wui/image/page/clouds.png');
  background-repeat: no-repeat;
}

.title-separator
{
  background-image: url('/static/wui/image/header/background-bottom.png');
  margin-left: 12px;
  margin-right: 12px;
}

.chapter.text
{
  margin-top: 12px;
}

.paragraph.text
{
  margin-top: 0px;
  margin-left: 12px;
}

.test-result-pass.icon {
  background-image: url("/static/wui/icon/24x24/apply.png");
}

.test-result-fail.icon {
  background-image: url("/static/wui/icon/24x24/delete.png");
}
