body.tundra
{
  background-image: url('/static/wui/image/page/clouds.png');
  background-repeat: no-repeat;
}

.title-separator
{
  background-image: url('/static/home/image/title-background.png');
  margin-left: 12px;
  margin-right: 12px;
}

.chapter.text
{
  margin-top: 12px;
}

.paragraph.text
{
  margin-top: 0px;
  margin-left: 12px;
}

.test-result-pass.icon {
  background-image: url("/static/wui/icon/24x24/apply.png");
}

.test-result-fail.icon {
  background-image: url("/static/wui/icon/24x24/delete.png");
}

.comparison-result-new.icon {
  background-image: url("/static/wui/icon/24x24/new.png");
}

.comparison-result-same.icon {
  background-image: url("/static/wui/icon/24x24/same.png");
}

.comparison-result-better.icon {
  background-image: url("/static/wui/icon/24x24/apply.png");
}

.comparison-result-worse.icon {
  background-image: url("/static/wui/icon/24x24/delete.png");
}

.comparison-result-unknown.icon {
  background-image: url("/static/wui/icon/24x24/unknown.png");
}
